<!DOCTYPE HTML>


<html lang="en">
<head>
    <title>Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="search.js"></script>
    <script src="smoothScroll.js"></script>
</head>
<body data-ng-app="app" data-ng-controller="search">
<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #1E88E5;">
    <div id="main" class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Movie DB</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a   href="#section1">Search</a></li>
                <li><a   href="#section2">Movie info</a></li>
                <li><a   href="#section3">Top movies</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="section1" class="container-fluid" >
    <div class="row">
        <div class="col-sm-4 pagination-centered ">
            <p><input type="text" class="form-control"  placeholder="Movie..." data-ng-model="name"></p>
            <p><input type="number" class="form-control"  placeholder="Year..." data-ng-model="year"></p>
            <a class="btn btn-primary" data-ng-click="link()" href="#section2" >
                <span class="glyphicon glyphicon-search"></span>Search</a>
            <h2 data-ng-show="Movie.Response!=='False'">{{Movie.Title}}<a href="#section2"><span class="glyphicon glyphicon-hand-down"></span></a></h2>
        </div>
        <div class="col-sm-8 ">
            <img data-ng-src="{{main.Poster}}" class="img-responsive" alt=""  width="312" height="312" >
        </div>
    </div>
</div>

<div id="section2" class="container-fluid" data-ng-init="Movie.Response='False'" data-ng-show="Movie.Response!=='False'" >
    <h1>{{Movie.Title}}</h1>
    <div class="col-sm-4">
        <img data-ng-src="{{ Movie.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : Movie.Poster}}"
        class="img-responsive"  alt="" width="300" height="300" >
    </div>
    <div class="col-sm-8 ">
        <p>{{Movie.Plot}}</p>
        <p> {{ Movie.Released }} ({{Movie.Runtime }})<br></p>
        {{Movie.Country}}<br>
        {{Movie.Genre}}
        <p> <span class="glyphicon glyphicon-thumbs-up"></span>{{Movie.imdbRating}} </p>
        <p> <span class="glyphicon glyphicon-hand-up"></span>{{Movie.imdbVotes}} </p>
    </div>
</div>

<div id="section3" class="container-fluid">
    <div id="Slide" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#Slide" data-slide-to="0" class="active"></li>
            <li data-target="#Slide" data-slide-to="1"></li>
            <li data-target="#Slide" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img data-ng-src="{{batman.Poster}}"  class="img-responsive" alt="" width="460" height="345">
            </div>
            <div class="item">
                <img data-ng-src="{{deadpool.Poster}}" class="img-responsive" alt="" width="460" height="345">
            </div>
            <div class="item">
                <img data-ng-src="{{frozen.Poster}}" src="" class="img-responsive" alt="" width="460" height="345">
            </div>
        </div>
        <a class="left carousel-control" href="#Slide" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#Slide" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <footer id="footer">
         @Copyright 2016  All Rights Reserved Created By Mareks
    </footer>
</div>


</body>
</html>