 body {
      position: relative;
  }
  html,body {
    height:100%;
    margin:0;

  }
  .container-fluid {
    height:100%;
    min-height:100%;/*for mozilla*/
  }
  html>body .container-fluid {
    height:auto;
  }
  #section1 {padding-top:100px;color: #000; background-color: #fff;}
  #section2 {padding-top:50px;color: #000; background-color: #99004d;}
  #section3 {padding-top:50px;color: #000; background-color: #fff;}
 .navbar-nav > li > a {
    color: #fff;
 }
 .navbar-toggle .icon-bar {
    background-color: #fff;
 }
 .navbar-toggle:hover .icon-bar {
    background-color: #000;
 }
 .navbar-brand{
    font-family: Papyrus, fantasy;
    color: #234;
 }

 .row{
    width:95%;
 }
 .img-responsive {
    margin: 0 auto;
}
.pagination-centered{
    padding-top:100px;
}
.col-sm-8{
    color:White;
}
h1{
    color:White;
    text-align: center;
}
#footer {
   text-align: center;
   left:0px;
   bottom:0px;
   height:30px;
   font-family: Papyrus, fantasy;
}